# Naive Bayes Algoritma ile Email-Spam

In [1]:
import pandas as pd

# Veri Önişleme

In [4]:
#Stop Word
# Stem İşlemi

In [6]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [8]:
df= df[['label_num','text']]
df.head()

   label_num                                               text
0          0  Subject: enron methanol ; meter # : 988291\r\n...
1          0  Subject: hpl nom for january 9 , 2001\r\n( see...
2          0  Subject: neon retreat\r\nho ho ho , we ' re ar...
3          1  Subject: photoshop , windows , office . cheap ...
4          0  Subject: re : indian springs\r\nthis deal is t...

In [10]:
!pip install nltk

Requirement already satisfied: nltk in /opt/anaconda3/lib/python3.12/site-packages (3.8.1)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (2023.8.8)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.12/site-packages (from nltk) (4.66.5)

In [54]:
# Running,
# running
# runNing
# RUNNING!
# run

# RegularExpression
import re
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer


# stem işlemi -> kelimelerin köküne indirme. -> Running -> Run
# stopword -> the, is, at
stemmer = PorterStemmer()
def clean_text(text):
    text = text.lower() # tüm harfleri küçük hale getirdim
    
    #text = re.sub(r'\d+', '', text) # metindeki tüm numerik değerleri kaldırdım
    
    text = text.translate(str.maketrans('','', string.punctuation)) # metindeki bütün noktalama işaretlerini kaldırır.
    
    words = text.split() # Merhaba Dünya => [Merhaba,Dünya]
    
    words = [ word for word in words if not word.isdigit() ] # Kelimelerin yalnızca numerik olanlarını ele.

    words = [ word for word in words if word not in stopwords.words('english')  ]

    words = [stemmer.stem(word) for word in words] # # Kelimeleri köklerine indir
   
    return ' '.join(words)

In [56]:
# Subject: hpl nom for january 9 , 2001\r\n( see
# subject hpl nom for january see
clean_text("Subject: hpl nom for january 9 , 2001 ( see ) p2p 4.5g 3d")

'subject hpl nom januari see p2p 45g 3d'

In [50]:
# Ben yazılım mühendisiyim
# Yazılım ben mühendisiyim

In [52]:

df.head()

   label_num                                               text
0          0  Subject: enron methanol ; meter # : 988291\r\n...
1          0  Subject: hpl nom for january 9 , 2001\r\n( see...
2          0  Subject: neon retreat\r\nho ho ho , we ' re ar...
3          1  Subject: photoshop , windows , office . cheap ...
4          0  Subject: re : indian springs\r\nthis deal is t...

In [58]:
df['clean_text']= df['text'].apply(clean_text)
df.head()

,label_num,text,clean_text
0,0,Subject: enron methanol ; meter # : 988291\r\n...,subject enron methanol meter follow note gave ...
1,0,"Subject: hpl nom for january 9 , 2001\r\n( see...",subject hpl nom januari see attach file hplnol...
2,0,"Subject: neon retreat\r\nho ho ho , we ' re ar...",subject neon retreat ho ho ho around wonder ti...
3,1,"Subject: photoshop , windows , office . cheap ...",subject photoshop window offic cheap main tren...
4,0,Subject: re : indian springs\r\nthis deal is t...,subject indian spring deal book teco pvr reven...

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
X=["clean_text"]
y=df["label_num"]

tfidf = TfidfVectorizer()
X_tfidf= tfidf.fit_transform(df["clean_text"]) # makine ogrenmesi için daha dogru bir veri
#tf-idf-> metinleri sayısal vektörlere donüştürür.

X_train,X_test,y_train,y_test =train_test_split(X_tfidf,y,test_size=0.2,random_state=42)

In [70]:
from sklearn.naive_bayes import MultinomialNB
model= MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [74]:
from sklearn.metrics import classification_report
y_pred= model.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      1.00      0.95       742
           1       1.00      0.74      0.85       293

    accuracy                           0.93      1035
   macro avg       0.95      0.87      0.90      1035
weighted avg       0.93      0.93      0.92      1035

# Aynı makine ögrenmesini "KNN" algoritması ile geliştirelim .Bu e popsta spam mı degil mi bunu  yapan makine ogrenmesi yapalım.

In [77]:
df.loc[3,"clean_text"]

'subject photoshop window offic cheap main trend abas darer prudent fortuit undergon lightheart charm orinoco taster railroad affluent pornograph cuvier irvin parkhous blameworthi chlorophyl robe diagrammat fogarti clear bayda inconvenienc manag repres smart hashish academi sharehold unload bad danielson pure caffein spaniard chargeabl levin'